
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="rev_slider_wrapper fullwidthbanner-container">
    <div id="rev-slider-1" class="rev_slider fullwidthabanner">
        <ul>
            <!-- Slide -->
            <li data-transition="random">
                <!-- Main Image -->
                <img src="../../assets/img/slider/slide-2.jpg" alt="" data-bgposition="center center" data-no-retina>

                <!-- Layers -->
                <div class="tp-caption tp-resizeme title-slide"
                     data-x="['left','left','left','left']" data-hoffset="['0','30','30','30']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-123','-123','-123','-123']"
                     data-fontsize="['60','60','40',30]"
                     data-lineheight="['60','60','40','30']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="700"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    Best Consulting Firms in <br>
                    Each Practice Area
                </div>
                <div class="tp-caption tp-resizeme desc-slide"
                     data-x="['left','left','left','left']" data-hoffset="['0','30','30','30']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-22','-22','-22','-22']"
                     data-fontsize="['18','18','18',18]"
                     data-lineheight="['25','25','25','25']"
                     data-width="['1170','991','550','420']"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="700"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    Consultants across the nation rate the top firms in their practice areas.
                </div>
                <div class="tp-caption"
                     data-x="['left','left','left','left']" data-hoffset="['0','30','30','30']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['88','88','88','88']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    <a href="#" class="wprt-button light reponsive">OUR SERVICES</a>
                </div>
                <div class="tp-caption"
                     data-x="['left','left','left','left']" data-hoffset="['200','245','400','400']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['88','88','88','88']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    <a href="#" class="wprt-button outline reponsive">OUR COMPANY</a>
                </div>
            </li>
            <!-- /Slide -->
            <!-- Slide -->
            <li data-transition="random">
                <!-- Main Image -->
                <img src="../../assets/img/slider/slide-3.jpg" alt="" data-bgposition="left left" data-no-retina>

                <!-- Layers -->
                <div class="tp-caption tp-resizeme title-slide"
                     data-x="['left','left','left','left']" data-hoffset="['0','30','30','30']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-123','-123','-123','-123']"
                     data-fontsize="['60','60','40',30]"
                     data-lineheight="['60','60','40','30']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="700"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    Best Consulting Firms in <br>
                    Each Practice Area
                </div>

                <div class="tp-caption tp-resizeme desc-slide"
                     data-x="['left','left','left','left']" data-hoffset="['0','30','30','30']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-22','-22','-22','-22']"
                     data-fontsize="['18','18','18',18]"
                     data-lineheight="['25','25','25','25']"
                     data-width="['1170','991','550','420']"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="700"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    Consultants across the nation rate the top firms in their practice areas.
                </div>

                <div class="tp-caption"
                     data-x="['left','left','left','left']" data-hoffset="['0','30','30','30']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['88','88','88','88']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    <a href="#" class="wprt-button light reponsive">OUR SERVICES</a>
                </div>

                <div class="tp-caption"
                     data-x="['left','left','left','left']" data-hoffset="['200','245','400','400']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['88','88','88','88']"
                     data-width="full"
                     data-height="none"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    <a href="#" class="wprt-button outline reponsive">OUR COMPANY</a>
                </div>
            </li>
            <!--/Slide -->
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
</div>

@*What We Are*@

<div class="row-service-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wprt-spacer clearfix" data-desktop="80" data-mobi="60" data-smobi="40"></div>
                <div class="wprt-headings text-center clearfix">
                    <h2 class="heading">What We Offer</h2>
                    <div class="sub-heading"> We are here to Acelerate your business and help you find the way.</div>
                </div>
                <div class="wprt-spacer clearfix" data-desktop="42" data-mobi="30" data-smobi="20"></div>
                <div class="wprt-carousel-box arrow-style-1 arrow-square arrow-center offsetcenter offset-v-80 has-arrows" data-auto="false" data-loop="false" data-gap="30" data-column="4" data-column2="2" data-column3="1">
                    <div class="owl-carousel owl-theme owl-loaded owl-drag">
                        <div class="wprt-image-box style-1 clearfix ">
                            <div class="item">
                                <div class="thumb">
                                    <img src="~/assets/img/services/service-1/service-1.jpg" alt="Image">
                                </div>

                                <div class="text-wrap">
                                    <h3 class="title">
                                        <a target="_blank" href="#">Strategy Marketing</a>
                                    </h3>
                                    <div class="desc">Tailored solutions that deliver results and achieve sustained growth.</div>
                                    <div class="wprt-link">
                                        <a target="_blank" class="simple-link" href="#">View Services</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.wprt-image-box style-1 -->
                        <div class="wprt-image-box style-1 clearfix ">
                            <div class="item">
                                <div class="thumb">
                                    <img src="~/assets/img/services/service-1/service-2.jpg" alt="Image">
                                </div>

                                <div class="text-wrap">
                                    <h3 class="title">
                                        <a target="_blank" href="#">Corporate Finance</a>
                                    </h3>
                                    <div class="desc">Linking corporate strategy, financial strategy, transactions.</div>
                                    <div class="wprt-link">
                                        <a target="_blank" class="simple-link" href="#">View Services</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.wprt-image-box style-1 -->
                        <div class="wprt-image-box style-1 clearfix ">
                            <div class="item">
                                <div class="thumb">
                                    <img src="~/assets/img/services/service-1/service-3.jpg" alt="Image">
                                </div>

                                <div class="text-wrap">
                                    <h3 class="title">
                                        <a target="_blank" href="#">Resources planning</a>
                                    </h3>
                                    <div class="desc">Nabling companies to grow revenue, improve margins and reposition</div>
                                    <div class="wprt-link">
                                        <a target="_blank" class="simple-link" href="#">View Services</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.wprt-image-box style-1 -->
                        <div class="wprt-image-box style-1 clearfix ">
                            <div class="item">
                                <div class="thumb">
                                    <img src="~/assets/img/services/service-1/service-4.jpg" alt="Image">
                                </div>

                                <div class="text-wrap">
                                    <h3 class="title">
                                        <a target="_blank" href="#">Private Equity</a>
                                    </h3>
                                    <div class="desc">
                                        We is the leading consulting partner to the private equity industry.
                                    </div>
                                    <div class="wprt-link">
                                        <a target="_blank" class="simple-link" href="#">View Services</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.wprt-image-box style-1 -->
                        <div class="wprt-image-box style-1 clearfix ">
                            <div class="item">
                                <div class="thumb">
                                    <img src="~/assets/img/services/service-1/service-1.jpg" alt="Image">
                                </div>

                                <div class="text-wrap">
                                    <h3 class="title">
                                        <a target="_blank" href="#">Advanced Analytics</a>
                                    </h3>
                                    <div class="desc">Strategy experience and analytical expertise combine to enable</div>
                                    <div class="wprt-link">
                                        <a target="_blank" class="simple-link" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.wprt-image-box style-1 -->
                        <div class="wprt-image-box style-1 clearfix ">
                            <div class="item">
                                <div class="thumb">
                                    <img src="~/assets/img/services/service-1/service-2.jpg" alt="Image">
                                </div>

                                <div class="text-wrap">
                                    <h3 class="title">
                                        <a target="_blank" href="#">Information Technology</a>
                                    </h3>
                                    <div class="desc">Realizing the full potential of IT resources, investments and assets</div>
                                    <div class="wprt-link">
                                        <a target="_blank" class="simple-link" href="#">View Services</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.wprt-image-box style-1 -->
                    </div>
                </div><!-- /wprt-carousel-box -->

                <div class="wprt-spacer clearfix" data-desktop="76" data-mobi="60" data-smobi="40"></div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>

@*Welcome Content*@

<div class="row-about-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wprt-spacer clearfix" data-desktop="80" data-mobi="60" data-smobi="60" style="height:80px"></div>
            </div>

            <div class="col-md-6">
                <div class="wprt-image-video w60">
                    <img alt="image" src="~/assets/img/bg-video-1.jpg">
                    <a class="icon-wrap popup-video" href="https://www.youtube.com/watch?v=HQzR7iiO5H4"></a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="wprt-spacer clearfix" data-desktop="0" data-mobi="30" data-smobi="30" style="height:0px"></div>

                <div class="padding-left-30">
                    <div class="wprt-headings clearfix">
                        <h2 class="heading">Frequently Asked Questions</h2>
                    </div>

                    <div class="wprt-spacer clearfix" data-desktop="41" data-mobi="30" data-smobi="10" style="height:41px"></div>

                    <div class="wprt-toggles style-1 no-icon">
                        <div class="toggle-item active">
                            <h3 class="toggle-heading">
                                <span class="inner">
                                    <span class="icon-wrap"><i class="fa fa-plus"></i></span>
                                    What kind of financial advice do you give?
                                </span>
                            </h3>

                            <div class="toggle-content" style="display: block;">
                                <p>Consultant focus is on doing what it takes to get client results. As a result, staffing approaches need to be flexible within offices and regions to accommodate the needs of our clients. Each office makes the decision about whether to staff consultants on two cases or on one case, based on the needs of the clients it is ser</p>
                            </div>
                        </div><!-- /.toggles-item -->

                        <div class="toggle-item">
                            <h3 class="toggle-heading">
                                <span class="inner">
                                    <span class="icon-wrap"><i class="fa fa-plus-square"></i></span>
                                    Do you offer individually tailored investment plans?
                                </span>
                            </h3>

                            <div class="toggle-content">
                                <p>Consultant focus is on doing what it takes to get client results. As a result, staffing approaches need to be flexible within offices and regions to accommodate the needs of our clients. Each office makes the decision about whether to staff consultants on two cases or on one case, based on the needs of the clients it is ser</p>
                            </div>
                        </div><!-- /.toggles-item -->

                        <div class="toggle-item end">
                            <h3 class="toggle-heading">
                                <span class="inner">
                                    <span class="icon-wrap"><i class="fa fa-plus-square"></i></span>
                                    How would I go about planning for my retirement?
                                </span>
                            </h3>

                            <div class="toggle-content">
                                <p>Consultant focus is on doing what it takes to get client results. As a result, staffing approaches need to be flexible within offices and regions to accommodate the needs of our clients. Each office makes the decision about whether to staff consultants on two cases or on one case, based on the needs of the clients it is ser</p>
                            </div>
                        </div><!-- /.toggles-item -->
                    </div>
                </div>
            </div><!-- /.col-md-6 -->

            
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>

<div class="row-about-1" style="background: #5c70fc;">
    <div class="container">
        <div class="col-md-12">
    


            @*<div class="wprt-spacer clearfix" data-desktop="80" data-mobi="60" data-smobi="30" style="height:80px"></div>*@

            @*<div class="wprt-headings text-center clearfix">
                <h2 class="heading">We Are Help You To Grow Your Business</h2>
               
            </div>

            <div class="wprt-spacer clearfix" data-desktop="17" data-mobi="10" data-smobi="10" style="height:17px"></div>*@

            <div class="wd-770">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="wprt-counter">
                            <span class="number" data-speed="2000" data-to="10" data-inviewport="yes">10</span>
                            <div class="heading">Years of Experience</div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="wprt-counter">
                            <span class="number" data-speed="2000" data-to="68" data-inviewport="yes">68</span>
                            <span class="suffix">k</span>
                            <div class="heading">Happy Customers</div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="wprt-counter">
                            <span class="number" data-speed="2000" data-to="50" data-inviewport="yes">50</span>
                            <div class="heading">Awards Won</div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="wprt-counter">
                            <span class="number" data-speed="2000" data-to="100" data-inviewport="yes">100</span>
                            <span class="suffix">%</span>
                            <div class="heading">Satisfied Customers</div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div>

            @*<div class="wprt-spacer clearfix" data-desktop="71" data-mobi="51" data-smobi="31" style="height:71px"></div>*@
        </div>
    </div>
</div>

<div class="row-about-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wprt-headings clearfix text-center" style="padding: 20px 0px;">
                    <h2 class="heading">Recent Achiever</h2>
                    <div class="sub-heading">We are here to Acelerate your business and help you find the way.</div>
                </div>
                <div class="wprt-portfolio-grid" data-column="4" data-column2="3" data-column3="2" data-column4="1" data-gaph="30" data-gapv="30">
                    <div id="project-filter" class="filter-dark" style="display:none">
                        <div class="inner">
                            <div data-filter="*" class="cbp-filter-item"><span>All Projects</span></div>
                            <div data-filter=".strategy" class="cbp-filter-item"><span>Strategy Marketing</span></div>
                            <div data-filter=".finance" class="cbp-filter-item"><span>Corporate Finance</span></div>
                            <div data-filter=".resources" class="cbp-filter-item"><span>Resources planning</span></div>
                            <div data-filter=".equity" class="cbp-filter-item"><span>Private Equity</span></div>
                            <div data-filter=".analytics" class="cbp-filter-item"><span>Advanced Analytics</span></div>
                        </div>
                    </div><!-- /.project-filter -->
                    <div id="projects" class="cbp">
                        <div class="cbp-item equity finance">
                            <div class="project-item style-2">
                                <div class="inner">
                                    <div class="project-image">
                                        <img src="~/assets/img/projects/grid-2/project-1.jpg" alt="image">
                                    </div>
                                   

                                    <a class="zoom-popup cbp-lightbox" href="assets/img/projects/grid-2/project-1.jpg" data-title="Airlines & Transportation">
                                        <i class="fa fa-arrows"></i>
                                    </a>
                                </div>
                            </div><!-- /.project-item -->

                        </div><!-- /.cbp-item -->
                        <div class="cbp-item equity finance">
                            <div class="project-item style-2">
                                <div class="inner">
                                    <div class="project-image">
                                        <img src="~/assets/img/projects/grid-2/project-1.jpg" alt="image">
                                    </div>


                                    <a class="zoom-popup cbp-lightbox" href="assets/img/projects/grid-2/project-1.jpg" data-title="Airlines & Transportation">
                                        <i class="fa fa-arrows"></i>
                                    </a>
                                </div>
                            </div><!-- /.project-item -->

                        </div>
                        <div class="cbp-item equity finance">
                            <div class="project-item style-2">
                                <div class="inner">
                                    <div class="project-image">
                                        <img src="~/assets/img/projects/grid-2/project-1.jpg" alt="image">
                                    </div>


                                    <a class="zoom-popup cbp-lightbox" href="assets/img/projects/grid-2/project-1.jpg" data-title="Airlines & Transportation">
                                        <i class="fa fa-arrows"></i>
                                    </a>
                                </div>
                            </div><!-- /.project-item -->

                        </div>
                        <div class="cbp-item equity finance">
                            <div class="project-item style-2">
                                <div class="inner">
                                    <div class="project-image">
                                        <img src="~/assets/img/projects/grid-2/project-1.jpg" alt="image">
                                    </div>


                                    <a class="zoom-popup cbp-lightbox" href="assets/img/projects/grid-2/project-1.jpg" data-title="Airlines & Transportation">
                                        <i class="fa fa-arrows"></i>
                                    </a>
                                </div>
                            </div><!-- /.project-item -->

                        </div>
                    </div><!-- /#projects -->
                </div><!-- /.wprt-portfolio-grid -->
                <div class="wprt-spacer clearfix" data-desktop="80" data-mobi="60" data-smobi="40"></div>
            </div><!-- /.cold-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>

<div class="row-contact-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="wd-570">
                    <div class="wprt-spacer clearfix" data-desktop="79" data-mobi="60" data-smobi="40" style="height:79px"></div>

                    <div class="wprt-carousel-box bullet0 bullet-style-2 bullet-circle has-bullets" data-auto="false" data-loop="false" data-gap="0" data-column="1" data-column2="1" data-column3="1">
                        <div class="owl-carousel owl-theme">
                            <div class="wprt-testimonials text-center clearfix ">
                                <span class="arrow-3">“</span>
                                <blockquote class="text">
                                    " We worked with Consultant. Our representative was  very knowledgeable and helpful. Consultant made a number of suggestions to help improve our systems. Consultant explained how things work and why it would help. We are pleased with the result and we definitely highly recommend Consultant."
                                </blockquote>
                                <div class="info">
                                    <h6 class="name">Alex Poole</h6>
                                    <span class="sep">|</span>
                                    <span class="position">CEO CVTSoft</span>
                                </div>
                            </div><!-- /.wprt-testimonials -->
                            <div class="wprt-testimonials text-center clearfix ">
                                <span class="arrow-3">“</span>
                                <blockquote class="text">
                                    " We worked with Consultant. Our representative was  very knowledgeable and helpful. Consultant made a number of suggestions to help improve our systems. Consultant explained how things work and why it would help. We are pleased with the result and we definitely highly recommend Consultant."
                                </blockquote>
                                <div class="info">
                                    <h6 class="name">Alex Poole</h6>
                                    <span class="sep">|</span>
                                    <span class="position">CEO CVTSoft</span>
                                </div>
                            </div><!-- /.wprt-testimonials -->
                            <div class="wprt-testimonials text-center clearfix ">
                                <span class="arrow-3">“</span>
                                <blockquote class="text">
                                    " We worked with Consultant. Our representative was  very knowledgeable and helpful. Consultant made a number of suggestions to help improve our systems. Consultant explained how things work and why it would help. We are pleased with the result and we definitely highly recommend Consultant."
                                </blockquote>
                                <div class="info">
                                    <h6 class="name">Alex Poole</h6>
                                    <span class="sep">|</span>
                                    <span class="position">CEO CVTSoft</span>
                                </div>
                            </div><!-- /.wprt-testimonials -->
                            <div class="wprt-testimonials text-center clearfix ">
                                <span class="arrow-3">“</span>
                                <blockquote class="text">
                                    " We worked with Consultant. Our representative was  very knowledgeable and helpful. Consultant made a number of suggestions to help improve our systems. Consultant explained how things work and why it would help. We are pleased with the result and we definitely highly recommend Consultant."
                                </blockquote>
                                <div class="info">
                                    <h6 class="name">Alex Poole</h6>
                                    <span class="sep">|</span>
                                    <span class="position">CEO CVTSoft</span>
                                </div>
                            </div><!-- /.wprt-testimonials -->

                        </div>
                    </div>

                    <div class="wprt-spacer clearfix" data-desktop="50" data-mobi="40" data-smobi="40" style="height:50px"></div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="wprt-gmap-1 map-2 clearfix">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13683.85063885948!2d74.9847473!3d30.9715242!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe844d5a352f94ec6!2sApex+Ielts+Centre!5e0!3m2!1sen!2sin!4v1535536430140" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div><!-- /.wprt-gmap-1 -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="row-partner-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wprt-line"></div>
                <div class="wprt-partner-slider" data-auto="true" data-column="6" data-column2="4" data-column3="2" data-gap="30">
                    <div class="owl-carousel owl-theme owl-loaded owl-drag">
                        <div class="partner-item clearfix">
                            <img src="assets/img/partners/partner-1.jpg" alt="Image">
                        </div>
                        <div class="partner-item clearfix">
                            <img src="assets/img/partners/partner-2.jpg" alt="Image">
                        </div>
                        <div class="partner-item clearfix">
                            <img src="assets/img/partners/partner-3.jpg" alt="Image">
                        </div>
                        <div class="partner-item clearfix">
                            <img src="assets/img/partners/partner-4.jpg" alt="Image">
                        </div>
                        <div class="partner-item clearfix">
                            <img src="assets/img/partners/partner-5.jpg" alt="Image">
                        </div>
                        <div class="partner-item clearfix">
                            <img src="assets/img/partners/partner-6.jpg" alt="Image">
                        </div>
                        <div class="partner-item clearfix">
                            <img src="assets/img/partners/partner-1.jpg" alt="Image">
                        </div>
                        <div class="partner-item clearfix">
                            <img src="assets/img/partners/partner-4.jpg" alt="Image">
                        </div>
                        <div class="partner-item clearfix">
                            <img src="assets/img/partners/partner-6.jpg" alt="Image">
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>