
@{
    ViewBag.Title = "OurMission";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Keyword {
    <meta name="description" content="Template built for Business & Financial, Consulting, Accounting, Broker">
    <meta name="keywords" content="advisor, analytical, audit, broker, brokerage, business, company, Consultech, consulting, consulting psd, finance, financial, insurance, trader, trading">
}

@*BreadCrumb*@

<div id="featured-title" class="clearfix featured-title-left">
    <div id="featured-title-inner" class="container clearfix">
        <div class="featured-title-inner-wrap">
            <div id="breadcrumbs">
                <div class="breadcrumbs-inner">
                    <div class="breadcrumb-trail">
                        <a href="@Url.Action("Home")" title="Apex Ielts" rel="home" class="trail-begin">Home</a>
                        <span class="sep"><span class="fa fa-angle-right" aria-hidden="true"></span></span>
                        <span class="trail-end">Our Mission</span>
                    </div>
                </div>
            </div>
            <div class="featured-title-heading-wrap">
                <h1 class="featured-title-heading">Our Mission</h1>
            </div>
        </div>
    </div>
</div>

@*End BreadCrumb*@
<div class="container" style="padding:40px 0px">
    <div class="col-md-9">
        <div class="image-wrap">
            <img src="assets/img/abouts/about-2.jpg" alt="Image">
        </div>
        <div class="wprt-spacer clearfix" data-desktop="23" data-mobi="20" data-smobi="20"></div>

        <div class="desc">
            <p class="margin-bottom-13">People who succeed have momentum. The more they succeed, the more they want to succeed, and the more they find a way to succeed. Similarly, when someone is failing, the tendency is to get on a downward spiral that can even become a self-fulfilling prophecy.</p>
            <p class="margin-bottom-13">The real test is not whether you avoid this failure, because you won't. It's whether you let it harden or shame you into inaction, or whether you learn from it; whether you choose to persevere.</p>
            <p class="margin-bottom-13">Character cannot be developed in ease and quiet. Only through experience of trial and suffering can the soul be strengthened, ambition inspired, and success achieved.</p>
        </div>
        <div class="wprt-spacer clearfix" data-desktop="56" data-mobi="30" data-smobi="20"></div>

    </div>
    <div class="col-md-3">
        <nav class="wprt-navbar style-1">
            <ul class="menu">
                <li class="nav-item">
                    <a href="page-company-overview.html">Company Overview</a>
                </li>
                <li class="nav-item">
                    <a href="page-team-grid.html">Founder Message</a>
                </li>
                <li class="nav-item">
                    <a href="page-partners.html">Why Choose Us</a>
                </li>
                <li class="nav-item">
                    <a href="page-company-history.html">Our Mission</a>
                </li>
                <li class="nav-item current-nav-item">
                    <a href="page-careers.html">Our Vision</a>
                </li>


            </ul>
        </nav>
        <div class="wprt-spacer clearfix" data-desktop="35" data-mobi="20" data-smobi="20"></div>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fapexieltscentrezira%2F&tabs&width=250&height=180&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=755281824540788" width="250" height="180" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe><!-- /.wprt-carousel-box -->
        <div class="wprt-spacer clearfix" data-desktop="47" data-mobi="30" data-smobi="20"></div>
        <div class="wprt-carousel-box bullet-style-2 bullet-circle bullet0 has-bullets text-left" data-auto="false" data-loop="false" data-gap="10" data-column="1" data-column2="1" data-column3="1">
            <div class="owl-carousel owl-theme">
                <div class="wprt-testimonials style-4 clearfix ">
                    <blockquote class="text">
                        " My experience with Construct is absolutely positive. The themes are beautifully designed and well documented. Construct provides quick and competent support."
                    </blockquote>
                    <div class="info">
                        <h6 class="name">Alex Poole</h6>
                        <span class="sep">|</span>
                        <span class="position">CEO CVTSoft</span>
                    </div>
                </div><!-- /.wprt-testimonials -->
                <div class="wprt-testimonials style-4 clearfix ">
                    <blockquote class="text">
                        " My experience with Construct is absolutely positive. The themes are beautifully designed and well documented. Construct provides quick and competent support."
                    </blockquote>
                    <div class="info">
                        <h6 class="name">Mr Bill</h6>
                        <span class="sep">|</span>
                        <span class="position">CTO PNC</span>
                    </div>
                </div><!-- /.wprt-testimonials -->
                <div class="wprt-testimonials style-4 clearfix ">
                    <blockquote class="text">
                        " My experience with Construct is absolutely positive. The themes are beautifully designed and well documented. Construct provides quick and competent support."
                    </blockquote>
                    <div class="info">
                        <h6 class="name">John Evan</h6>
                        <span class="sep">|</span>
                        <span class="position">Designer</span>
                    </div>
                </div><!-- /.wprt-testimonials -->
            </div>
        </div>
        <div class="wprt-spacer clearfix" data-desktop="0" data-mobi="40" data-smobi="30"></div>
    </div>
</div>


